* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.burger {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 25px;
    line-height: 50px;
    
}

.burger:hover {
    cursor: pointer;
}

aside {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: black;

    transition: 1s linear;
}

.burger .fas{
    display: none; 
}

.burger .show{
    display: block;
}

aside.show{
    left: 0px;
    background-color: tomato;
}